<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 客户端Hessian代理工厂Bean -->
    <bean id="demoService" class="com.caucho.hessian.client.HessianProxyFactoryBeanExtend">
        <!-- 请求代理Servlet路径 -->
        <property name="serviceUrl" value="http://localhost:8090/service/demo"/>
        <!-- 接口定义 -->
        <property name="serviceInterface" value="demo.DemoService"/>
        <property name="readTimeout" value="1000"/>
        <property name="connectTimeout" value="1000"/>
    </bean>
    <bean id="orderService" class="com.caucho.hessian.client.HessianProxyFactoryBeanExtend">
        <!-- 请求代理Servlet路径 -->
        <property name="serviceUrl" value="http://localhost:8090/service/orderService"/>
        <!-- 接口定义 -->
        <property name="serviceInterface" value="demo.OrderService"/>
        <property name="readTimeout" value="1000"/>
        <property name="connectTimeout" value="1000"/>
    </bean>


</beans>