<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd ">

    <context:component-scan base-package="demo.impl" />
    <!-- 接口的具体实现类 -->
    <!-- 使用Spring的HessianServie做代理 -->
    <bean name="/demo"
          class="org.springframework.remoting.caucho.HessianServiceExporter">
        <!-- service引用具体的实现实体Bean-->
        <property name="service" ref="demoServiceImpl"/>
        <property name="serviceInterface" value="demo.DemoService"/>
    </bean>
    <bean name="/orderService"
          class="org.springframework.remoting.caucho.HessianServiceExporter">
        <!-- service引用具体的实现实体Bean-->
        <property name="service" ref="orderServiceImpl"/>
        <property name="serviceInterface" value="demo.OrderService"/>
    </bean>


</beans>