<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


        <!-- 接口的具体实现类 -->
        <bean id="demoService" class="demo.impl.DemoServiceImpl" />
        <!-- 使用Spring的HessianServie做代理 -->
        <bean name="/demo"
              class="org.springframework.remoting.caucho.HessianServiceExporter">
            <!-- service引用具体的实现实体Bean-->
            <property name="service" ref="demoService" />
            <property name="serviceInterface" value="demo.DemoService"/>
        </bean>




</beans>